Source: wasta-app-tweaks
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 12.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-app-tweaks

Package: wasta-app-tweaks
Architecture: all
Depends: wasta-core
Recommends:
Description: Wasta-Linux App Tweaks
 .
 This package should be installed on any machine running Wasta-Linux. Script
 is triggered by being placed in /etc/profile.d
